*{
    padding:0px;
    margin:0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

body{
background-color: gainsboro;
}

#header
{
    display:flex;
    
   position: sticky;
    background-color: #0F1111;
    color:white;
    height:50px;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#search
{
    display: flex;
    height: 32px;
    border: 4px ;
   padding: 0px;
    
    width: 40%;
    }


#header>#search:hover
{
    border: 3px solid orange;
    border-radius: 4px;
}
#header>div:hover
{   border:1.5px solid white;
   border-radius: 5px;
   padding-top:5px;
   padding-bottom:5px;
   padding-right:10px;
   padding-left:10px;
   
}
#nav>div:hover
{

 margin:5px solid white;

}
#nav
{
    height:39px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    padding: 2px;
    
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#logo
{
    width:100px;
    height: 50px;
    
    
}
#llog{
position: relative;
top: 20px;
}
.loc_text
{
    position: relative;
  
    left:20px;
}
.arrows
{
    opacity:0.5;
    z-index: 1;
    position:absolute;
    width: 4.5rem;
    top: 10rem;
    
    
}
#arrow1
{
   

}
#arrow2
{
    

left: 95%;


}
#ads1
{   
    display: flex!important;
    
   
    
}
#ads2
{   
    display: flex!important;
    
   
   
}
.box
{
    background-color: white;
 width: 50%;
   height: 350px;
margin: 5px;
padding: 20px;


}
.box img
{
    width: 100%;
    height: 80%;
}
.upper
{
    font-size:0.8rem;
    font-weight: 50;
    
    padding: 0px;
    margin:none;
   
    
}
.lower
{   font-size: 1rem;
    font-weight: 800;
   
    padding: 0px;
    margin:none;
    
}


#s1
{
    color:gray;
    background-color: gainsboro;
   width: 8%;
   border-top-left-radius:2px;
   border-bottom-left-radius:2px;

    
}
#s2
{   
    background-color: white;
    width: 84%;
}
#s3
{
 background-color: rgb(239, 177, 63);
 width: 8%;
 justify-content: center;

 color: #232f3e;
 
 border-top-right-radius:2px;
   border-bottom-right-radius:2px;

}
#s2 input
{
height: 87%;
width: 100%;
color: gray;

}
.navtext
{
    
    font-size: 1rem;

}
.box_text
{
    font-size: 25px;
    text-align: center;
    font-weight: 700;
    font-family: Arial;
    color: black;
}

#se
{
    position: relative;
    top:15%;
    left:20%;
    
}

#btt
{
    text-align: center;
    height: 25px;
    background-color: #43586e;
    padding: 10px;
    padding-top: 15px;
    
}
#footer1
{
    background-color:#232f3e;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    
    text-align: center;
    
}

#footer2
{
    background-color:#232f3e;
    height: 50px;

   
  
}
#footer2 img
{
   position: relative;
   left: 47.4%;
   
}
hr
{
    background-color: lightslategray;
    height: 1px;
    border: none;
}
#footer3
{
    background-color:#232f3e;
    height: 50px;
    text-align: center;
    font-size:15px;
    padding-top: 10px;
    color: gray;
    font-weight: 100;
    
}
#footer4
{   background-color: #131a22;
    height: 60px;
    padding-top: 10px;
}
.points
{
    opacity: 0.8;
    color: gray;
}
#footer4 p
{
    color:gray;
    text-align: center;
   

}

#poster 
{

position: relative;
z-index: -1;
}



#ad
{
    width:12%;
}
#fspace
{
    background-color:#232f3e;
    height: 70px;
}
#ct
{
    position: relative;
    top:23px;
    float:right;
    font-weight: 800;
}
#header>#cart
{
    padding: 0px;
}
#header>#search
{
    padding:0px;
}
#header>#logo
{
    padding:0px;
}
#header>div
{
    padding-right:10px;
   padding-left:10px;
}
#car
{
    position: absolute;
    
}
#pscar
{
   position: relative;
    height: 350px;
    width: 100%;
}
